.login-background {
    background: url('../../../../public/bg.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* opacity: 0.8; */
}

.enableBlur>* {
    filter: blur(1.2px);
}

.disableBlur {
    filter: blur(0);
}

.text {
    color: white
}

.vertical-center {
    position: absolute;
    top: 30%;
    width: 450px;
}