    .banner {
        background: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center/cover;
        height: 70vh;
        position: relative;
        overflow: hidden;
    }
    
    .body {
        min-height: 81vh;
    }
    
    .list-color {
        background-color: azure;
    }
    
    .section-color {
        background-color: #17a2b8e6;
    }
    
    li {
        list-style: none;
    }
    
    .list-info {
        height: 20vh;
    }
    
    .no-info {
        height: 30vh;
    }