.navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
    background-color: #01579B;
    color: white;
}

.text {
    color: white;
    /* background: url('../../assets/PNG/Asset9.png') no-repeat center center fixed; */
}