.body {
    min-height: 81vh;
}

.header {
    /* height: 0vh; */
    background-color: #E0F7FA;
    position: relative;
    overflow: hidden;
}

b-list-group.b-list-group-item:hover {
    background: red
}